.App {
  text-align: center;
  background-color: #121213;
}

.App-logo {
  height: 10vmin;
}

.App-header {
  background-color: #121213;
}

.App-footer {
  background-color: #121213;
  color: #ffffff;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

