.App {
  text-align: left;
    background-color: #19191A;
}

.App-icons {
  height: 10vmin;
  color: gold;

}

.App-header {
  background-color: #121213;
  
}

.App-footer {
  background-color: #121213;
  /* color:black; */
  color: gold;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
